<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

cd &quot;/opt/halium/10.0&quot;
rm -f ./.repo/local_manifests/*

repo sync -c --force-sync --force-remove-dirty
./halium/devices/setup &quot;halium_arm64&quot; --force-sync --force-remove-dirty

# build

rm -rf out/target/product/halium_arm64/root/
rm -rf out/target/product/halium_arm64/system/
rm -rf out/target/product/halium_arm64/obj/PACKAGING/systemimage_intermediates/

./hybris-patches/apply-patches.sh --mb

export LC_ALL=C
export USE_CCACHE=1
source build/envsetup.sh
lunch &quot;lineage_halium_arm64-userdebug&quot;

time make -j10 e2fsdroid
time make -j10 systemimage

mv out/target/product/halium_arm64/system.img ${WORKSPACE}/system-${BUILD_NUMBER}.img

rm -rf out/target/product/halium_arm64/root/
rm -rf out/target/product/halium_arm64/system/
rm -rf out/target/product/halium_arm64/obj/PACKAGING/systemimage_intermediates/</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
